<html>
<head>
    <link href="~/Style/AboutUss.css" rel="stylesheet" />
</head>
<body>
    <section id="team" class="text-center section">
        <div class="container">
            <br />
            <h2><span class="highlight_secondary">About Us</span></h2>
            <h5>
                'e-shop.com' helps you find and compare the products
                you want and enjoy the cheapest prices on a wide range
                of top brand products from leading stores.You can browse
                a huge variety of products and read objective reviews from
                industry experts and other shoppers to help make your
                decision easier. Products are sorted by category to help
                you find the electronics, computers, cameras, fashion or
                other products you want. In oredr to find exactly what you are looking
                for, you can simply filter the products by various factors including price,
                size or color. You can compare prices on leading brands to ensure you always
                find the best deals. Unrivaled comparison of products, features and excellent
                prices makes 'e-shop.com' the number one shopping site for cheap deals, making it
                easier than ever to find the best prices for purchasing products.
            </h5>

            <div class="hr big_size_hr invisible_hr">
                <i class="fa fa-"></i>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="team">
                        <div class="team-image">
                            <img src="~/Pics/Andrey.jpg" class="img-circle img-responsive imgSize">
                        </div>
                        <div class="team-content">
                            <div class="team-name"><h5>Andrey.K</h5></div>
                            <div class="team-role">CEO & Co-founder</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hr invisible_hr">
                <i class="fa fa-"></i>
            </div>
        </div>
    </section>
</body>
</html>

