@model WebProject.ModelDTO.UserDTO

@{
    ViewBag.Title = "SuccessRegister";
}

<h2>Welcome @Model.FirstName @Model.LastName</h2>
<h5>@Html.ActionLink("Back to Home Page", "GetProductsBy","Product")</h5>

