<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h2>@ViewBag.content</h2>
        <h5>@Html.ActionLink("Back to Home Page", "GetProductsBy")</h5>
    </hgroup>
</body>
</html>
